@model List<Blog.Entity.DTOs.Categories.CategoryDto>

<div class="content">
    <ul>
        @foreach (var category in Model)
        {
            <li> <a asp-controller="Home" asp-area="" asp-action="Index" asp-route-categoryId="@category.Id">@category.Name</a></li>
        }
    </ul>
</div>
